<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>DomoMaker</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>

<body>
  <nav class="navbar has-background-primary"><a href="/login"></a>
    <div class="navlink navbar-item"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink navbar-item"><a id="signupButton" href="/signup">Sign up</a></div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        </div>
  </nav>

  <section id="content">

  </section>

<div class="modal" id="error">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Error</p>
        <button class="delete" aria-label="close"></button>
      </header>
      <section class="modal-card-body">
        <h3><span id="errorMessage"></span></h3>
      </section>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>

  <script src="/assets/loginBundle.js"></script>
</body>

</html>