<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{username}}'s Profile</title>
  <link rel="stylesheet" href="../assets/my-bulma-project.css">
</head>
<body>
  <section id="content" class="hero is-primary is-medium is-bold" style="height: 80vh;">
    <div class="hero-body">
      <h1 class="title is-1 has-text-centered has-text-info">404</h1>
      <h2 class="subtitle is-3 has-text-centered has-text-info">Page Not Found</h2>
    <h3 class="subtitle is-4 has-text-centered has-text-info">Sorry, the page you are looking for does not exist.</h3>
    </div>
  </section>

  <script src="/assets/bundle.js"></script>
</body>
</html>