<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{username}}'s Profile</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
</head>
<body>
  <section id="content">
    <h1>404</h1>
    <p>Page Not Found!</p>
  </section>

  <script src="/assets/bundle.js"></script>
</body>
</html>