<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{username}}'s Profile</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <nav><a href="/logout">Logout</a></nav>

  <section id="profileContent">
    <h1>{{username}}'s Profile</h1>
    <p>Nickname: {{nickname}}</p>
    <img src="{{profilePicture}}" alt="Profile Picture" id="profilePicture"/>
    
    <button id="editProfileButton">Edit Profile</button>
    
  </section>

  <script src="/assets/bundle.js"></script>
</body>
</html>
