<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Question</title>
    <link rel="stylesheet" href="../assets/my-bulma-project.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar has-background-primary mb-5 p-2 is-rounded">
        <div class="navlink navbar-item"><a class="button is-outlined has-text-weight-bold" href="/logout">Logout</a></div>
        <div class="navlink navbar-item"><a class="button is-outlined has-text-weight-bold" href="/">Home</a></div>
          <div class="navbar-center is-flex-grow-1 is-align-self-center">
    <div class="field has-addons">
      <div class="control">
        <input id="searchInput" class="input" type="text" placeholder="Search...">
      </div>
      <div class="control">
        <button id="searchButton" class="button is-white is-outlined"> 
          <span class="icon is-small">
            <i class="fas fa-search"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
    </nav>

    <div id="app" class="" style="height: 80vh;">
    </div>
    <div class="modal" id="error">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Error</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    <h3><span id="errorMessage"></span></h3>
                </section>
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <script src="/assets/questionBundle.js"></script>
</body>

</html>